<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{url_for('static',filename='favicon.ico')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" type="text/css">
        <title>{{name}}'sWatchList</title>
    </head>

    <body>
        <h2>
            <img alt="'Avatar" class="avatar" src="{{url_for('static',filename='images/avatar.png')}}">
            {{name}}'s WatchList
        </h2>
        <p>{{movies|length}} Titles</p>
        <ul class="movie-list">
            {% for movie in movies %}
            <li>{{movie.title}} - {{movie.year}}</li>
            {% endfor %}
        </ul>

        <footer>
            <img alt="Walking Totoro" class="totoro" src="{{url_for('static',filename='images/totoro.gif')}}">
            <small>&copy; 2022 <a href="https://www.ypblog.cn">YPBlog.cn</a></small>
        </footer>
    </body>

</html>